.git
.github
.next
node_modules
src/generated
npm-debug.log*
.env
.env.*
.DS_Store
coverage
public/wp-content/uploads/*
!public/wp-content/uploads/2026/
public/wp-content/uploads/2026/*
!public/wp-content/uploads/2026/04/
public/wp-content/uploads/2026/04/*
!public/wp-content/uploads/2026/04/o6_รายงานผลการดำเนินงาน-ไตรมาสที่-2-ปีงบประม.pdf
!public/wp-content/uploads/2026/04/o7_รายงานผลการดำเนินงาน-ไตรมาสที่-4-ปีงบประมa.pdf
!public/wp-content/uploads/2026/06/
public/wp-content/uploads/2026/06/*
!public/wp-content/uploads/2026/06/อินโฟภายนอก-11-2-1024x1024.png
!public/wp-content/uploads/2026/06/ประกาศผู้ชนะการเสนอราคา_25_06_2569.pdf
!public/wp-content/uploads/2026/05/
public/wp-content/uploads/2026/05/*
!public/wp-content/uploads/2026/05/ประกาศผู้ชนะการเสนอราคา_12_05_2569.pdf

!public/wp-content/uploads/news-2569/
public/wp-content/uploads/news-2569/*
!public/wp-content/uploads/news-2569/fb-*/
!public/wp-content/uploads/news-2569/fb-*/*.jpg
public/sdc-downloads
reports
.worktrees
worktrees
