.git
.github
.next
node_modules
src/generated
npm-debug.log*
.env
.env.*
.DS_Store
coverage
public/wp-content/uploads/*
!public/wp-content/uploads/2026/
public/wp-content/uploads/2026/*
!public/wp-content/uploads/2026/06/
public/wp-content/uploads/2026/06/*
!public/wp-content/uploads/2026/06/อินโฟภายนอก-11-2-1024x1024.png
public/sdc-downloads
reports
.worktrees
worktrees
