.git
.github
.next
node_modules
src/generated
npm-debug.log*
.env
.env.*
.DS_Store
coverage
public/wp-content/uploads/*
!public/wp-content/uploads/ita2569/
public/wp-content/uploads/ita2569/*
!public/wp-content/uploads/ita2569/O13/
public/wp-content/uploads/ita2569/O13/*
!public/wp-content/uploads/ita2569/O13/o13_ข้อบังคับว่าด้วยการบริหารงานบุคคล.pdf
!public/wp-content/uploads/ita2569/O13/o13_หลักเกณฑ์สรรหา_บรรจุ_แต่งตั้ง.pdf
!public/wp-content/uploads/ita2569/O13/o13_2_หลักเกณฑ์การเข้าสู่ตำแหน่ง_ปรับระดับตำแหน่ง.pdf
!public/wp-content/uploads/ita2569/O13/o13_3_หลักเกณฑ์และวิธีการประเมินผลการปฏิบัติงาน.pdf
!public/wp-content/uploads/ita2569/O13/o13_4_หลักเกณฑ์การปรับวุฒิและปรับอัตราค่าจ้างตามคุณวุฒิ.pdf
!public/wp-content/uploads/ita2569/O13/o13_แผนบริหารทรัพยากรบุคคล_ปี_2569.pdf
!public/wp-content/uploads/ita2569/O13/o13_แผนพัฒนาทรัพยากรบุคคล_ปี_2569.pdf
!public/wp-content/uploads/2026/
public/wp-content/uploads/2026/*
!public/wp-content/uploads/2026/04/
public/wp-content/uploads/2026/04/*
!public/wp-content/uploads/2026/04/o6_รายงานผลการดำเนินงาน-ไตรมาสที่-2-ปีงบประม.pdf
!public/wp-content/uploads/2026/04/o7_รายงานผลการดำเนินงาน-ไตรมาสที่-4-ปีงบประมa.pdf
!public/wp-content/uploads/2026/06/
public/wp-content/uploads/2026/06/*
!public/wp-content/uploads/2026/06/อินโฟภายนอก-11-2-1024x1024.png
!public/wp-content/uploads/2026/06/ประกาศผู้ชนะการเสนอราคา_25_06_2569.pdf
!public/wp-content/uploads/2026/05/
public/wp-content/uploads/2026/05/*
!public/wp-content/uploads/2026/05/ประกาศผู้ชนะการเสนอราคา_12_05_2569.pdf
!public/wp-content/uploads/2026/07/
public/wp-content/uploads/2026/07/*
!public/wp-content/uploads/2026/07/วันแม่แห่งชาติ-12-สิงหาคม-2569.webp
!public/wp-content/uploads/2026/07/วันแม่แห่งชาติ-12-สิงหาคม-2569-v2.webp

!public/wp-content/uploads/news-2569/
public/wp-content/uploads/news-2569/*
!public/wp-content/uploads/news-2569/fb-*/
!public/wp-content/uploads/news-2569/fb-*/*.jpg
!public/wp-content/uploads/news-2569/mothers-day-2569/
!public/wp-content/uploads/news-2569/mothers-day-2569/*.jpg
public/sdc-downloads/*
!public/sdc-downloads/ita2569-o8-02.pdf
!public/sdc-downloads/ita2569-o9-03.png
!public/sdc-downloads/ita2569-o19-01.pdf
!public/sdc-downloads/ita2569-o19-02.pdf
!public/sdc-downloads/ita2569-o19-03.pdf
!public/sdc-downloads/ita2569-o19-04.pdf
!public/sdc-downloads/ita2569-o19-05.pdf
!public/sdc-downloads/ita2569-o19-06.pdf
!public/sdc-downloads/ita2569-o19-07.pdf
!public/sdc-downloads/ita2569-o19-08.pdf
!public/sdc-downloads/ita2569-o20-01.pdf
!public/sdc-downloads/ita2569-o20-02.pdf
!public/sdc-downloads/ita2569-o20-03.jpg
!public/sdc-downloads/ita2569-o21-01.pdf
!public/sdc-downloads/ita2569-o21-02.pdf
!public/sdc-downloads/ita2569-o22-01.pdf
!public/sdc-downloads/ita2569-o22-02.pdf
!public/sdc-downloads/ita2569-o22-03.pdf
!public/sdc-downloads/ita2569-o24-01.pdf
reports
.worktrees
worktrees
