.intro {
  background-color: #063471;
  background-image: url("/intro-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
}

.visuallyHidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
